$dark-blue:#222222;
$brown:#211616;
$black:#000000;
$features-bg:#222224;
$white:#FFFFFF;
$grey:#F8F8F8;
$features-name-grey:#FBFBFB;
$text-grey:#9F9F9F;
$input-bg-grey:#E1E1E1;
$text-dark-grey:#5D5D5D; 
$navigation-item-gray:#6F6E6E;
$breadcrumb-gray: #F8F3F4;
$input-border-gray:#A4A4A4;
$placeholder_text: #B1B1B1;
$pink:#F1E4E6;
$dark-pink:#F16D7F;
    
