.slider {
	width: 100%;
	height: 777px;
	margin: auto;	
	position: relative;
	overflow: hidden;
    background-color: $grey;
    
    
}

.slide {
	width: 100%;
	height: 777px;
	position: absolute;
	top: 0;
	left: 0;
    animation-name: slide;
	animation-duration: 10s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
    background-color: $grey;
}

@keyframes slide {
    from {
     top: 0;
     left: 0;
    }
    12.5% {
     transform: translate(0px, 0px);
    }
    25% {
     transform: translate(-100%, 0);
    }
    36% {
     transform: translate(-100%, 777px);
    }
    37% {
     transform: translate(100%, 777px);
    }
    87.5% {
     transform: translate(100%, 0);
     
    }
    to {
     transform: (0px, 0px);
    }
   }

   .slide1 { 
    background: url(/img/product-7-1600-777.jpg);
    background-repeat: no-repeat;
    background-position: center;
    animation-delay: 7.5s;
   }
   .slide2 { 
    background: url(/img/product-6-1600-777.jpg);
    background-repeat: no-repeat;
    background-position: center;
    animation-delay: 5s;
   }
   .slide3 { 
    background: url(/img/product-5-1600-777.jpg);
    background-repeat: no-repeat;
    background-position: center;
    animation-delay: 2.5s;
   }
   .slide4 { 
    background: url(/img/product-2-1600-777.jpg);
    background-repeat: no-repeat;
    background-position: center;
    animation-delay: 0s;
   }